.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
*.tfvars.json
!ESLZ/*.tfvars
!test/live/config/*.tfvars
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
